include donntu_links
include main-menu

.topmenu.clearfix
	.lang-selector.left
		- for (var l in allLangs) {
			- var tLang = allLangs[l];
			- if (tLang != lang) {
				+b.A.icon-link--langs(class='--' + tLang href=langLinks[tLang] data-text=locale(tLang))
			- }
		- }

	.donntu-links.right
		+donntu_links
	.nav-menu.right
		.nav-button
			span
		.nav-wrapper
			.nav-list
				+donntu_links('nav-link')
				hr
				+main-menu('icon-link nav-link')


+b.head.zx-border.clearfix
	+e.A.photo.left(href='svyatoha_big.jpg')
		img(src='photo.jpg' alt=locale('my_photo') title=locale('my_photo'))
	+e.text--bold!= locale('author_full_name')
	+e.text!= locale('faculty')
	+e.text!= locale('pulpit')
	+e.text!= locale('specialty')
	+e.text--bold!= locale('thesis')
	+e.text!= locale('scientific_director')
	

	