- var img_indx = 1;
mixin image(link, caption, indx)
	- caption = locale(caption);
	+b.img&attributes(attributes)
		+e.IMG.image(src=('images/' + link) alt=caption)
		+e.SPAN.caption!= locale('image') + ' ' + (indx ? indx : img_indx++) + ' &ndash; ' + caption

mixin link(link, text)
	a(href=link)&attributes(attributes)= text ? locale(text) : link