- var img_indx = 1;
mixin image(link, caption)
	- caption = locale(caption);
	+b.img&attributes(attributes)
		+e.IMG.image(src=('images/' + link) alt=caption)
		+e.SPAN.caption!= locale('image') + ' ' + (img_indx++) + ' &ndash; ' + caption