-
	function locale(key, language) {
		var vals = langDB[language || lang];
		if (vals && vals[key]) {
			return vals[key];
		} else {
			return key;
		}
	}

	var lang = null,
		allLangs = [
			'ru', 'ua', 'en'
		],
		langDB = {
			ru: {
				ru: 'РУС',
				ua: 'УКР',
				en: 'АНГЛ',
				donntu: 'ДонНТУ',
				magister_portal: 'Портал магистров',
				loading: 'Загрузка...',
				author_full_name: 'Святоха Артём Алесандрович',
				thesis: 'тема диплома',
				my_photo: 'Фото магистра',
				faculty: 'Факультет: <q>Компьютерных наук и технологий</q>',
				pulpit: 'Кафедра: <q>Компьютерная инженерия</q>',
				specialty: 'Специальность: <q>Компьютерные системы и сети</q>',
				scientific_director: 'Научный руководитель: д.т.н., проф. Мальчева Раиса Викторовна',

				summary: 'Резюме',
			}
		};