include ../../node_modules/bemto.jade/bemto
include ../../node_modules/jade-injected/jade-injected

- set_bemto_settings({ modifier: '--' })

mixin page(lang_links)
	- var langLinks = lang_links

	doctype html
	html(lang=lang)
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')

		link(rel='stylesheet' href='css/main.css')
		style.
			.hidden {
				display: none;
			}
	body(
		data-default-page="#summary"
		data-title=' - ' + locale('author_full_name') + ' - ' + locale('thesis')
	)
		.header.container-wraper.js-loader.hidden
			.container
				include header

		.main-menu.container-wraper.js-loader.hidden
			.container
				include main-menu
			
		.content.container-wraper.js-loader.hidden
			block

		.footer.container-wrapper.js-loader.hidden
			center.container
				include footer

		include ../blocks/preloader

		
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		script(src='js/main.js')
