include ../blocks/page-basic

+page({
		ru: 'index.htm',
		ua: 'indexu.htm',
		en: 'indexe.htm'
	})
	#summary.container.hidden
		include summary
	#biography.container.hidden
	#abstract.container.hidden
	#library.container.hidden
	#links.container.hidden
	#searching_report.container.hidden
	#individual.container.hidden