include ../blocks/page-basic

+page({
		ru: 'index.htm',
		ua: 'indexu.htm',
		en: 'indexe.htm'
	})
	#summary.container.hidden
		include summary
	if lang != 'en'
		#biography.container.hidden
			include biography
	#abstract.container.hidden
		include abstract
	if lang == 'ru'
		#library.container.hidden
			include library
		#links.container.hidden
			include links
		#searching-report.container.hidden
			include search-result
		#individual.container.hidden
			include individual