h1 Базовые принципы работы интерпретаторов
p #[b Интерпретатор] &ndash; программа выполняющая построчный анализ, обработка и выполнение исходного кода программы или запроса (в отличие от компиляции, где весь текст программы, перед запуском, анализируется и транслируется в машинный или байт-код, без её выполнения) #[sup #[a(href='#ind-link1')= '[1]']].
P Интерпретируемые или скрипотовые языки программирования на сегодняшний день широко используются как языки сценариев для администрирования операционной системы, как встраиваемые языки или для создания прикладного программного обеспечения. Основными преимуществами скриптовых языков является:
ul
	li переносимость программного кода между платформами, на которых реализован интерпретатор;
	li существенно более быстрая загрузка скрипта и начала его выполнения по сравнению с транслируемыми языками, что позволяет на стадии разработки более регулярно вносить изменения и тестировать их;
	li более совершенные средства отладки и диагностики ошибок в исходном коде;
	li зачастую меньший размер исходного кода по сравнению с транслируемыми в машинный код языками.
p Недостатками являются:
ul
	li невозможность запуска скрипта без интерпретатора, при этом интерпретатор может быть как довольно компактным, так и нет.
	li скрипты выполняются медленнее, поскольку выполняется анализ кода и планирование его выполнения требует дополнительного времени в сравнении с непосредственным исполнением машинного кода;
	li оптимизация кода зачастую либо отсутствует полностью, либо является недостаточно эффективной, что также сказывается на скорости выполнения программы.

p Не смотря на недостатки со скоростью выполнения программ интерпретаторами, зачастую их встраивают в приложения, чтобы иметь возможность расширять его функционал без перекомпиляции. Скрипты обычно некритичные к скорости выполнения задачи, а требовательные к производительности участки выполняются за счет вызова подпрограмм на машинном коде из скрипта. Самым ярким представителем встраиваемых скриптовых языков, является JavaScript в браузерах, который позволяет выполнять интерактивные действия на веб страницах, и работает на всех системах в которых есть интернет браузеры.

h2 Основные этапы работы интерпретатора
p Каждый интерпретатор после получения исходного кода скрипта (будь то загрузка из файла, или получение в параметре в виде строки), выполняет следующие действия:
ol
	li 
		a(href='#ind_tokens') Лексический анализ
	li
		a(href='#ind_syntax') Синтаксический анализ
	li
		a(href='#ind_optimization') Оптимизация (опционально)
	li
		a(href='#ind_runtime') Выполнение

h2#ind_tokens Лексический анализ
p Лексический анализ или токенизация (от англ. token &ndash; знак; представление лексемы в виде обьекта) &ndash; процесс разбиения исходного текста программы на лексемы (токены), которые являются атомарными сущностями языка, такие как. числа, строки, операторы и разделительные знаки. С такими сущностями интерпретатору далее будет намного удобней работать. На этом этапе также опускаются комментарии и сокращаются последовательности пробельных символов. Процесс примерного разбиение на лексемы показан на #[a(href='#ind_img1') рисунке 1].

+image('tokens.jpg', 'Пример разбиение исходного текста программы на лексемы')#ind_img1

p При лексическом анализе в строках также заменяются управляющие последовательности символов. Для того чтобы в случае возникновении ошибки, была возможность сообщить о её местоположении в исходном коде, в токенах также сохраняется информация с номером строки и первого символа лексемы. Таким образам после лексического анализа мы получем список токенов.

h2#ind_syntax Cинтаксический анализ
p Получив список токенов интерпретатор выполняет синтаксический анализ, проверяя расположения лексем в управляющих конструкциях и выражениях в соответствии с правилами языка программирования. Параллельно с проверкой на корректность кода, синтаксический анализатор строит в памяти абстрактное синтаксическое дерево (AST &ndash; англ. Abstract Syntax Tree)#[sup #[a(href='#ind-link2')= '[2]']], в котором узлами являются операторы, а листья представляют собой либо переменные, либо константы.

+image('ast.jpg', 'Пример абстракного синтаксического дерева')#ind_img2

h2 Ссылки
ol
	li#ind-link1
		a(href='https://ru.wikipedia.org/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BF%D1%80%D0%B5%D1%82%D0%B0%D1%82%D0%BE%D1%80') Интерпретатор

	li#ind-link2
		a(href='https://ru.wikipedia.org/wiki/%D0%90%D0%B1%D1%81%D1%82%D1%80%D0%B0%D0%BA%D1%82%D0%BD%D0%BE%D0%B5_%D1%81%D0%B8%D0%BD%D1%82%D0%B0%D0%BA%D1%81%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B5_%D0%B4%D0%B5%D1%80%D0%B5%D0%B2%D0%BE') Абстрактное синтаксическое дерево
