h1 Библиотека материалов по теме выпускной работы
h2.no-indent Собственные публикации и доклады
ol.links
	li
		a(href='library/article1.htm') Разработка демонстрационной модели гипотетического компьютера
		p #[strong Авторы:] Святоха А.А., Мальчева Р.В.
		p #[strong Описание:] В данной работе была разработана простая демонстрационная модель гипотетического компьютера, а также приведена теорическая информация по теме.
	li
		a(href='library/article2.htm') Разработка обеспечения по контролю за действиями пользователей
		p #[strong Автор:] Святоха А.А.
		p #[strong Описание:] В данной работе рассмотрена реализация системы логирования и представления действий пользователя.
	li
		a(href='library/pres.pdf') Исследование зависимости применения процессорных архитектур (Презентация)
		p #[strong Автор:] Святоха А.А.
		p #[strong Описание:] В данной работе рассмотрены зависимости применения процессоров на различных архитектурах, в различных классах вычислительных устройств.
	li
		a(href='library/article3.htm') Исследование зависимости применения процессорных архитектур (Доклад)
		p #[strong Автор:] Святоха А.А.
		p #[strong Описание:] В данной работе рассмотрены зависимости применения процессоров на различных архитектурах, в различных классах вычислительных устройств.

h2.no-indent Тематические статьи
ol.links(start=5)
	li
		a(href='library/article4.htm') Классификация процессорных архитектур
		p #[strong Автор:] Стрельцова Н.В.
		p
			strong Первоисточник: 
			+link('http://www.uralarclab.ru/Public01R.htm')
		p #[strong Описание:] В настоящем докладе дается определение вычислительной системы и процессора и предлагается система классификации процессорных архитектур, определяющая состав базовых моделей архитектур для процессоров с хранимой программой и процессоров с хранимым алгоритмом.
		p #[strong Источник:] Материалы доклада международной научной конференции “Суперкомпьютерные системы и их применение”, Минск, 26-28 октября 2004.
	li
		a(href='library/1.pdf') Моделирование внутренних операций процессорных элементов
		p #[strong Авторы:] Р.В. Мальчева, Т.В. Завадская
		p #[strong Описание:] Выполнен анализ необходимости разработки демонстрационных обучающих и имитационных моделей внутри процессорных операций.
		p #[strong Источник:] Научный журнал "Информатика и кибернетика". – Д.: ДонНТУ, – 2016. – № 3(5). – 117 c.
	li
		a(href='library/2.pdf') Закономерности развития компактных микропроцессоров для мобильных устройств
		p #[strong Авторы:] А. Д. Фоменко, А. Я. Аноприенко
		p #[strong Описание:] В статье представленны наиболее распространенные закономерности в области развития компактных микропроцессоров для мобильных устройств.
	li
		a(href='library/article5.htm') Архитектура ЭВМ для высокопроизводительных вычислений
		p #[strong Авторы:] А.В.Комолкин, С.А.Немнюгин
		p #[strong Описание:] Данная глава рассматривает таксономию Флинна – одну из наиболее популярных схем классификации компьютерных архитектур, основанной на описании работы компьютера с потоком команд и потоком данных. Также представлены основные концепции архитектуры высокопроизводительных вычислительных систем.
		p #[strong Источник:] А.В.Комолкин, С.А.Немнюгин. "Программирование для высокопроизводительных ЭВМ".
	li
		a(href='library/3.pdf') Методика использования визуальной учебной модели для организации изучения архитектуры компьютера
		p #[strong Авторы:] Герасимов М.С., Киргизова Е.В.
		p #[strong Описание:] Данная научная статья посвящена: разработке основных компонентов и структуре учебной визуальной модели компьютера; рассмотрению методических особенностей использования визуальной модели компьютера для организации изучения темы «Архитектура компьютера» в школьном курсе информатики.
		p #[strong Источник:] Научно-методический электронный журнал «Концепт». – 2013. – Т. 3. – С. 1926–1930. – URL: #[+link('http://e-koncept.ru/2013/53388.htm')].
