h1 Библиотека материалов по теме выпускной работы
h2.no-indent Собственные публикации и доклады
ol.links
	li
		a(href='library/article1.htm') Разработка демонстрационной модели гипотетического компьютера
		p #[strong Авторы:] Святоха А.А., Мальчева Р.В.
		p #[strong Описание:] В данной работе была разработана простая демонстрационная модель гипотетического компьютера, а также приведена теорическая информация по теме.
	li
		a(href='library/article2.htm') Разработка обеспечения по контролю за действиями пользователей
		p #[strong Автор:] Святоха А.А.
		p #[strong Описание:] В данной работе рассмотрена реализация системы логирования и представления действий пользователя.
	li
		a(href='library/pres.pdf') Исследование зависимости применения процессорных архитектур (Презентация)
		p #[strong Автор:] Святоха А.А.
		p #[strong Описание:] В данной работе рассмотрены зависимости применения процессоров на различных архитектурах, в различных классах вычислительных устройств.
	li
		a(href='library/article3.htm') Исследование зависимости применения процессорных архитектур (Доклад)
		p #[strong Автор:] Святоха А.А.
		p #[strong Описание:] В данной работе рассмотрены зависимости применения процессоров на различных архитектурах, в различных классах вычислительных устройств.

h2.no-indent Тематические статьи
ol.links(start=5)
	li
		a(href='library/article4.htm') Развитие процессоров и их роль в жизни ПК сегодня
		p #[strong Автор:] Плесовских Г.А.
		p #[strong Описание:] В данной статье рассмотрено создание процессоров и их значительные изменения, без которых, скорее всего не было сегодняшней компьютерной техники. Проанализированы характерные особенности, которые способствовали развитию и созданию процессоров. В проведенном исследовании даются определения и формулируются основные характеристики процессоров.
		p #[strong Источник:] Плесовских Г.А. РАЗВИТИЕ ПРОЦЕССОРОВ И ИХ РОЛЬ В ЖИЗНИ ПК СЕГОДНЯ // Молодежный научный форум: Технические и математические науки: электр. сб. ст. по мат. XXXV междунар. студ. науч.-практ. конф. № 6(35). URL: #[+link('https://nauchforum.ru/archive/MNF_tech/6(35).pdf')] (дата обращения: 26.01.2019)
	li
		a(href='library/1.pdf') Моделирование внутренних операций процессорных элементов
		p #[strong Авторы:] Р.В. Мальчева, Т.В. Завадская
		p #[strong Описание:] Выполнен анализ необходимости разработки демонстрационных обучающих и имитационных моделей внутри процессорных операций.
		p #[strong Источник:] Научный журнал "Информатика и кибернетика". – Д.: ДонНТУ, – 2016. – № 3(5). – 117 c.
	li
		a(href='library/article5.htm') Структура ЭВМ
		p #[strong Автор:] Тлупов З.А.
		p #[strong Описание:] В данной работе рассматриваются структуры компонентов ЭВМ, включая многопроцессорные вычислительные системы.
		p #[strong Источник:] URL: #[+link('http://www.zaurtl.ru/UkVT/UKVT3.html')]
	li
		a(href='library/article6.htm') Организация памяти в ЭВМ
		p #[strong Автор:] Тлупов З.А.
		p #[strong Описание:] В данной работе рассматриваются структур памяти ЭВМ и её разновидности.
		p #[strong Источник:] URL: #[+link('http://www.zaurtl.ru/UkVT/UKVT14.html')]
	li
		a(href='library/article7.htm') Формат и разновидность команд микропроцессора
		p #[strong Автор:] Тлупов З.А.
		p #[strong Описание:] В данной работе рассматриваются формат машинных команд процессора Intel и дано краткое описание некоторых из них.
		p #[strong Источник:] URL: #[+link('http://www.zaurtl.ru/UkVT/UKVT17.html')]
	li
		a(href='library/article8.htm') Процессоры: назначение, структура и разновидность
		p #[strong Автор:] Тлупов З.А.
		p #[strong Описание:] В данной работе рассматриваются функции и параметры микропроцессора, кратко представленны основны архитектуры процессоров и устройства входящие в состав процессора.
		p #[strong Источник:] URL: #[+link('http://www.zaurtl.ru/UkVT/UKVT15.html')]

h2.no-indent Переводы статей
ol.links(start=11)
	li
		a(href='library/article9.htm') CPU Sim 3.1: Инструмент для моделирования компьютерных архитектур для классов организации компьютеров
		p #[strong Автор:] Dale Skrien
		p #[strong Описание:] В статье подробно рассматриваются основы работы программным пакетом CPU Sim 3.1, предназначенным для проектирования, модифицирования и сравнения различных компьютерных архитектур на уровне регистров и так далее.
		p #[strong Источник (англ.):] #[+link('library/cpusim31.pdf', 'CPU Sim 3.1: A Tool for Simulating Computer Architectures for Computer Organization Classes')]