h1 Библиотека материалов по теме выпускной работы
h2.no-indent Собственные публикации и доклады
ol.links
	li
		a(href='library/article1.htm') Разработка демонстрационной модели гипотетического компьютера
		p #[strong Авторы:] Святоха А.А.
		//- p #[strong Описание:] В данной работе
	li
		a(href='library/article2.htm') Разработка обеспечения по контролю за действиями пользователей
		p #[strong Авторы:] Святоха А.А.