h1 Ссылки по теме выпускной работы

h2.no-indent Материалы магистров ДонНТУ
ol.links
	li
		a(href='http://masters.donntu.org/2003/fvti/teslenko/') Тесленко Г.A. Программная эмуляция микропроцессорного комплекта серии К1804
		p #[strong Описание:] Персональный сайт на портале магистров ДонНТУ, 2003 г.
		p #[strong Руководитель:] к.т.н., инженер кафедры "ЭВМ" Дорожко Л.И.

h2.no-indent Научные работы и статьи
ol.links(start=2)
	li
		a(href='https://meltdownattack.com/meltdown.pdf') Meltdown: Reading Kernel Memory from User Space
		p Статья поссвещённая уязвимости в процессорах и атаке под назвнием Meltdown.
	li
		a(href='https://spectreattack.com/spectre.pdf') Spectre Attacks: Exploiting Speculative Execution
		p Статья поссвещённая уязвимости в процессорах и атаке под назвнием Spectre.

h2.no-indent Техническая и справочная литература
ol.links(start=12)
	li
		a(href='http://twins.ee.nctu.edu.tw/courses/ca_08/literature/11_vliw.pdf') An Introduction To Very-Long Instruction Word (VLIW) Computer Architecture
		p Архитектура процессоров VLIW и её сравнение с другими архитектурами.

h2.no-indent Специализированные сайты и порталы
ol.links(start=22)
	li
		a(href='https://stackoverflow.com/') StackOverflow
		p Cайт вопросов и ответов для программистов.
	li
		a(href='https://github.com/') GitHub
		p Крупнейший веб-сервис для хостинга IT-проектов и их совместной разработки
	li
		a(href='https://bitbucket.org/') Bitbucket
		p Веб-сервис для хостинга проектов и их совместной разработки, основанный на системе контроля версий Mercurial и Git.
	li
		a(href='https://gitlab.com/') GitLab
		p Сайт и система управления репозиториями кода для Git, из дополнительных возможностей: собственная вики и система отслеживания ошибок. ПО доступно в системе управления пакетами Omnibus. 
	li
		a(href='http://citforum.ru/') CIT-форум
		p Крупнейший архив научной и практической информации по всем направлениям компьютерных наук.
	li
		a(href='https://habr.com/ru/') Habr
		p Блог, посвященный различным тематикам: программированию, алгоритмам, администрированию, информационной безопасности и т.д.
	li
		a(href='http://software-testing.ru/forum/index.php?/forum/171-bazy-dannykh/') Форум тестировщиков
		p Форум который содержит множество различных тем, включая базы данных.
	li
		a(href='http://www.hardforum.ru/') Hardforum
		p Содержит любые темы касательно компьютеров,ОС,ПО и тд.
	li
		a(href='http://www.cyberforum.ru/') CyberForum
		p Форум программистов, системных администраторов, администраторов баз данных, компьютерный форум, форум по электронике и бытовой технике, обсуждение софта. Бесплатная помощь в решении задач по программированию, математике, физике и другим наукам, решение проблем с компьютером, операционными системами.
	li
		a(href='http://www.nbuv.gov.ua/') Библиотека им. В.И.Вернадского
		p Содержит множество различных статей, публикаций и прочего.

h2.no-indent Демонстрацинные модели гипотетических компьютеров
ol.links(start=32)
	li
		a(href='http://www.cs.colby.edu/djskrien/CPUSim/') CPU Sim
		p Функциональная модель окружения для симуляции простых компьютеров.
	li
		a(href='http://www.mikrocodesimulator.de/index_eng.php') Mikrocodesimulator MikroSim 2010
		p Образовательная программа для аппаратно-неспецифического объяснения общего функционирования и поведения виртуального процессора.
	li
		a(href='https://www.labcenter.com') Proteus VSM
		p Функциональных модель, которая входит в пакет программ Proteus Design Suite.
	li
		a(href='http://tkgate.org') Tk Gate
		p Среда моделирования и симуляции цифровых электронных схем, состоящая из графического редактора с интерфейсом.
	li
		a(href='https://matlab.ru/products/simulink') Simulink 
		p Графическая среда имитационного моделирования, позволяющая при помощи блок-диаграмм в виде направленных графов, строить динамические модели, включая дискретные, непрерывные и гибридные, нелинейные и разрывные системы. 
	li
		a(href='https://github.com/artem8086/emuG2') Emu G2
		p Простая демонстрационная машина.

h2.no-indent Информация о процессорах
ol.links(start=34)
	li
		a(href='http://web.znu.edu.ua/bdp/postrisc/index.htm') Архитектура POSTRISC
		p Проекты гипотетических процессоров, идущих на смену процессорам с архитектурой RISC.
	li
		a(href='https://en.wikipedia.org/wiki/Speculative_execution') Спекулятивное выполнение команд
		p Статья про спекулятивное выполнение команд.
	li
		a(href='https://developers.google.com/web/updates/2018/02/meltdown-spectre') Meltdown и Spectre
		p Отчет Google об уязвимостях Meltdown и Spectre.
	li
		a(href='https://en.wikipedia.org/wiki/Branch_predictor') Branch predictor
		p Статья о предсказателе переходов в процессорах.
