h1 Ссылки по теме выпускной работы

h2.no-indent Материалы магистров ДонНТУ
ol.links
	li
		a(href='http://masters.donntu.org/2003/fvti/teslenko/') Тесленко Г.A. Программная эмуляция микропроцессорного комплекта серии К1804
		p #[strong Описание:] Персональный сайт на портале магистров ДонНТУ, 2003 г.
		p #[strong Руководитель:] к.т.н., инженер кафедры "ЭВМ" Дорожко Л.И.

h2.no-indent Научные работы и статьи
ol.links(start=2)
	li
		a(href='http://solomon.ipv6.club.tw/Course/SP/sp1-1.pdf') Simplified Instructional Computer (SIC)
		p Статья об упрощенном учебном компьютере.
	li
		a(href='https://ru.bmstu.wiki/%D0%90%D1%80%D1%85%D0%B8%D1%82%D0%B5%D0%BA%D1%82%D1%83%D1%80%D0%B0_%D0%BA%D0%BE%D0%BC%D0%BF%D1%8C%D1%8E%D1%82%D0%B5%D1%80%D0%B0') Архитектура компьютера
		p Статья о различных архитектурах компьютеров.
	li
		a(href='https://www.bytemag.ru/articles/detail.php?ID=8467') Одиссея процессора Itanium
		p Статья о истории развития процессоров Itanium фирмы Intel.
	li
		a(href='http://trudymai.ru/upload/iblock/d1c/osobennosti-programmnoy-emulyatsii-semeystva-bortovykh-vychislitelnykh-mashin-s-otkrytoy-sistemoy-komand.pdf') Особенности программной эмуляции семейства бортовых вычислительных машин с открытой системой команд
		p В статье рассматривается проблема программной эмуляции семейства бортовых вычислительных машин с открытой системой команд.
	li
		a(href='https://habr.com/ru/post/411989/') 50 (или 60) лет разработки процессоров
		p Описывается развитие процессоров и различных архитектур, а также рассматриваются пути дальнейшего возможного развития.
	li
		a(href='https://habr.com/ru/post/100907/') Создаем эмулятор приставки
		p Наглядный пример разработки эмуляторов на примере простой игровой приставки CHIP-8
	li
		a(href='https://meltdownattack.com/meltdown.pdf') Meltdown: Reading Kernel Memory from User Space
		p Статья поссвещённая уязвимости в процессорах и атаке под назвнием Meltdown.
	li
		a(href='https://spectreattack.com/spectre.pdf') Spectre Attacks: Exploiting Speculative Execution
		p Статья поссвещённая уязвимости в процессорах и атаке под назвнием Spectre.
	li
		a(href='https://medium.com/@aesl/understanding-compilers-for-humans-ba970e045877') Understanding Compilers — For Humans
		p Статья посвящена основным этам работы компиляторов.
	li
		a(href='https://msdn.microsoft.com/en-us/magazine/dn904673.aspx') Compilers - What Every Programmer Should Know About Compiler Optimizations
		p Статья посвещённая оптимизации в компиляторах высокоуровневых языков программирования.

h2.no-indent Техническая и справочная литература
ol.links(start=12)
	li
		a(href='https://nsu.ru/xmlui/bitstream/handle/nsu/9054/tanenbaum_AC.pdf?sequence=1&isAllowed=y') Архитектура компьютера
		p Книга описывающая основные узлы вычислительных машин.
	li
		a(href='http://kanyevsky.kpi.ua/wp-content/uploads/2018/04/Apx_comp_rus.pdf') Архитектура компьютера
		p Книга описывающая архитектуру процессорного ядра компьютеров.
	li
		a(href='https://books.ifmo.ru/file/pdf/761.pdf') Архитектура базовой ЭВМ
		p В книге описывается архитектура базовых учебных моделей ЭВМ.
	li
		a(href='http://cip.iis.nsk.su/files/course/oivt1p.pdf') Основы информатики и вычислительной техники
		p В этом учебном пособии даны первоначальные сведения об ЭВМ, их устройстве и применении, о подготовке решения задач на ЭВМ с помощью алгоритмов. 
	li
		a(href='https://www.bau.edu.jo/UserPortal/UserProfile/PostsAttach/66220_4281_1.pdf') Computer Architecture. A Quantitative Approach
		p В книге подробно расмотренны архитектуры компьютеров и их компонентов.
	li
		a(href='http://twins.ee.nctu.edu.tw/courses/ca_08/literature/11_vliw.pdf') An Introduction To Very-Long Instruction Word (VLIW) Computer Architecture
		p Архитектура процессоров VLIW и её сравнение с другими архитектурами.
	li
		a(href='http://rema44.ru/resurs/study/compiler1/Compiler1.pdf') Классическая теория компиляторов
		p Рассматриваются основы теории формальных языков, приводятся методы и алгоритмы  построения основных частей трансляторов и интерпретаторов.
	li
		a(href='http://hjemmesider.diku.dk/~torbenm/Basics/basics_lulu2.pdf') Basics of Compiler Design
		p Рассматриваются основы компиляторов, процесса компиляции, интерпретации и оптимизации программ написанных на языках высокого уровня.
	li
		a(href='http://ict.edu.ru/ft/004337/p4_26.pdf') Современные оптимизирующие компиляторы
		p Работа посвящена методам оптимизации, используемым в современных компиляторах для архитектур с явным параллелизмом команд и аппаратной поддержкой двоичной с овместимости.
	li
		a(href='https://ntrs.nasa.gov/archive/nasa/casi.ntrs.nasa.gov/19730021416.pdf') A survey of compiler optimization techniques
		p Обзор базовых методов оптимизации в компиляторах для трех категорий: машинно зависимые, архитектурно зависимые и архитектурно независимые оптимизаци.

h2.no-indent Специализированные сайты и порталы
ol.links(start=22)
	li
		a(href='https://stackoverflow.com/') StackOverflow
		p Cайт вопросов и ответов для программистов.
	li
		a(href='https://github.com/') GitHub
		p Крупнейший веб-сервис для хостинга IT-проектов и их совместной разработки.
	li
		a(href='https://bitbucket.org/') Bitbucket
		p Веб-сервис для хостинга проектов и их совместной разработки, основанный на системе контроля версий Mercurial и Git.
	li
		a(href='https://gitlab.com/') GitLab
		p Сайт и система управления репозиториями кода для Git, из дополнительных возможностей: собственная вики и система отслеживания ошибок. ПО доступно в системе управления пакетами Omnibus. 
	li
		a(href='http://citforum.ru/') CIT-форум
		p Крупнейший архив научной и практической информации по всем направлениям компьютерных наук.
	li
		a(href='https://habr.com/ru/') Habr
		p Блог, посвященный различным тематикам: программированию, алгоритмам, администрированию, информационной безопасности и т.д.
	li
		a(href='http://software-testing.ru/forum/index.php') Форум тестировщиков
		p Форум который содержит множество различных тем.
	li
		a(href='http://www.hardforum.ru/') Hardforum
		p Содержит любые темы касательно компьютеров, ОС, ПО и тд.
	li
		a(href='http://www.cyberforum.ru/') CyberForum
		p Форум программистов, системных администраторов, администраторов баз данных, компьютерный форум, форум по электронике и бытовой технике, обсуждение софта. Бесплатная помощь в решении задач по программированию, математике, физике и другим наукам, решение проблем с компьютером, операционными системами.
	li
		a(href='http://www.nbuv.gov.ua/') Библиотека им. В.И.Вернадского
		p Содержит множество различных статей, публикаций и прочего.

h2.no-indent Модели гипотетических компьютеров
ol.links(start=32)
	li
		a(href='http://educomp.runnet.ru/e97/e97_ito.html') Е97 - учебные модели компьютеров
		p Краткое описание учебной модели компьютера Е97.
	li
		a(href='http://www.cs.colby.edu/djskrien/CPUSim/') CPU Sim
		p Функциональная модель окружения для симуляции простых компьютеров.
	li
		a(href='http://www.mikrocodesimulator.de/index_eng.php') Mikrocodesimulator MikroSim 2010
		p Образовательная программа для аппаратно-неспецифического объяснения общего функционирования и поведения виртуального процессора.
	li
		a(href='https://gnusim8085.github.io/') GNUSim8085
		p Учебный симулятор процессора Intel 8085. Обладает графической оболочкой, ассемблером и отладчиком.
	li
		a(href='https://www.labcenter.com') Proteus VSM
		p Функциональных модель, которая входит в пакет программ Proteus Design Suite.
	li
		a(href='http://tkgate.org') Tk Gate
		p Среда моделирования и симуляции цифровых электронных схем, состоящая из графического редактора с интерфейсом.
	li
		a(href='https://matlab.ru/products/simulink') Simulink 
		p Графическая среда имитационного моделирования, позволяющая при помощи блок-диаграмм в виде направленных графов, строить динамические модели, включая дискретные, непрерывные и гибридные, нелинейные и разрывные системы. 
	li
		a(href='https://github.com/artem8086/emuG2') Emu G2
		p Простая демонстрационная машина (собственная разработка).

h2.no-indent Информация о процессорах
ol.links(start=40)
	li
		a(href='https://ru.wikipedia.org/wiki/%D0%A6%D0%B5%D0%BD%D1%82%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9_%D0%BF%D1%80%D0%BE%D1%86%D0%B5%D1%81%D1%81%D0%BE%D1%80') Центральный процессор
		P Общая информация о центральных процессорах
	li
		a(href='https://en.wikipedia.org/wiki/Complex_instruction_set_computer') Complex instruction set computer
		p Рассмотрены основные особености процессоров на архитектуре CISC.
	li
		a(href='https://en.wikipedia.org/wiki/Reduced_instruction_set_computer') Reduced instruction set computer
		p Рассмотрены основные особености процессоров на архитектуре RISC.
	li
		a(href='http://web.znu.edu.ua/bdp/postrisc/index.htm') Архитектура POSTRISC
		p Проекты гипотетических процессоров, идущих на смену процессорам с архитектурой RISC.
	li
		a(href='https://en.wikipedia.org/wiki/Very_long_instruction_word') Архитектура VLIW
		p Рассмотрены основные особености процессоров на архитектуре VLIW.
	li
		a(href='https://en.wikipedia.org/wiki/Itanium') Itanium
		p Информация о процессорах Itanium фирмы Intel, основаных на архитектуре EPIC/VLIW.
	li
		a(href='https://en.wikipedia.org/wiki/Vector_processor') Vector processor
		p Рассмотрены особенности векторных процессоров.
	li
		a(href='https://ru.wikipedia.org/wiki/%D0%A1%D1%83%D0%BF%D0%B5%D1%80%D1%81%D0%BA%D0%B0%D0%BB%D1%8F%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C') Суперскалярность
		p Рассмотрены особенности суперскалярных процессоров.
	li
		a(href='https://en.wikipedia.org/wiki/Speculative_execution') Спекулятивное выполнение команд
		p Статья про спекулятивное выполнение команд.
	li
		a(href='https://developers.google.com/web/updates/2018/02/meltdown-spectre') Meltdown и Spectre
		p Отчет Google об уязвимостях Meltdown и Spectre.
	li
		a(href='https://en.wikipedia.org/wiki/Branch_predictor') Branch predictor
		p Статья о предсказателе переходов в процессорах.
