h1!= locale('short_summary')

+b.table
	+e.row
		+e.head!= locale('FIO')
		+e.cell!= locale('author_full_name')
	+e.row
		+e.head!= locale('date_birthday')
		+e.cell!= locale('date_birthday_my')
	+e.row
		+e.head!= locale('location_birthday')
		+e.cell!= locale('location_birthday_my')
	+e.row
		+e.head!= locale('school')
		+e.cell!= locale('school_my')
	+e.row
		+e.head!= locale('university')
		+e.cell!= locale('university_my')
	+e.row
		+e.head!= locale('average_rating')
		+e.cell!= locale('average_rating_my')
	+e.row
		+e.head!= locale('language_skills')
		+e.cell!= locale('language_skills_my')
	+e.row
		+e.head!= locale('hobbies')
		+e.cell!= locale('hobbies_my')
	+e.row
		+e.head!= locale('personal_qualities')
		+e.cell!= locale('personal_qualities_my')
	+e.row
		+e.head!= locale('professional_skills')
		+e.cell!= locale('professional_skills_my')
	+e.row
		+e.head!= locale('future_plans')
		+e.cell!= locale('future_plans_my')
	+e.row
		+e.head!= locale('contacts')
		+e.cell!= locale('contacts_my')