extends ../blocks/layout-default

block head
	title= locale('title_summary')
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')

	link(rel='stylesheet' href='css/main.css')
block content
	include ../blocks/main-menu

	script(src='js/main.js')