h1!= locale('short_summary')

+b.table
	+e.row
		+e.head!= locale('FIO')
		+e.cell!= locale('author_full_name')
	+e.row
		+e.head!= locale('date_birthday')
		+e.cell!= locale('date_birthday_my')
	+e.row
		+e.head!= locale('location_birthday')
		+e.cell!= locale('location_birthday_my')
	+e.row
		+e.head!= locale('school')
		+e.cell!= locale('school_my')
	+e.row
		+e.head!= locale('university')
		+e.cell!= locale('university_my')
	+e.row
		+e.head!= locale('average_rating')
		+e.cell!= locale('average_rating_my')