+b.H1.summary-header!= locale('short_summary')

+b.table
	+e.row
		+e.head!= locale('FIO')
		+e.cell!= locale('author_full_name')
	+e.row
		+e.head!= locale('date_birthday')
		+e.cell!= locale('date_birthday_my')
	+e.row
		+e.head!= locale('location_birthday')
		+e.cell!= locale('location_birthday_my')