.container
	h1
		text-align center
		font-size 26px
		font-weight 700
		padding 4px 0 16px
	h2
		margin 20px 0 10px
		font-size 22px
		font-weight 700
		text-indent 25pt
		color #555
	p
		padding 4px 0
		text-align justify
		text-indent 25pt
		font-size 18px
		line-height 20px

		&.comment
			padding 10px 20px
			font-size 16px
			line-height 18px
			text-indent 0
			background-color #bbb

.content-list
	padding-left 20px
	li
		list-style-type none

.img
	padding 20px
	width 100%
	text-align center
	
	&__image
		max-width 100%

	&__caption
		display block
		padding-top 20px
		font-style italic
ul
ol
	padding 6px 18px
	li
		padding 3px 0	
hr
	margin-bottom 10px
	height 0
	border none