include ../jade/blocks/base-lib

- var name = 'Структура ЭВМ';

- var authors = 'Тлупов З.А.';

+lib(name, authors)
	h1= name
	
	p.no-indent #[strong Автор:] #{authors}

	p
		| Структура компьютера – это совокупность его функциональных элементов и связей между ними. Структура ЭВМ является одним из определяющих факторов его характеристик. 
	p  Классическая упрощенная структурная схема ЭВМ имеет вид:
	+image('proc1.png', 'Упрощенная структурная схема ЭВМ')
	p  Процессор (центральный процессор) – основной вычислительный блок компьютера, содержит важнейшие функциональные устройства: устройство управления, арифметико-логическое устройство, процессорную память.
	p  Оперативная память – запоминающее устройство, используемой для оперативного хранения и обмена информацией с другими узлами машины.
	p  Каналы связи (внутримашинный интерфейс)  - служат для сопряжения центральных узлов машины с ее внешними устройствами.
	p  Внешние устройства обеспечивают эффективное взаимодействие компьютера с окружающей средой: пользователями, объектами управления, другими машинами (внешняя память и устройства ввода-вывода).
	P  Все большее распространение получает многопроцессорная структура (многопроцессорные вычислительные системы (МПВС)). Информационное взаимодействие процессоров происходит либо на уровне регистров микропроцессорной памяти, либо на уровне оперативной памяти. В современных многоядерных процессорах объединение сводиться на уровне поля оперативной памяти. Важным является то, что многопроцессорная вычислительная система работает под управлением единой операционной системы. Это существенно улучшает динамические свойства системы, но требуется весьма сложная операционная система.
	p  Структурная схема взаимодействия процессоров в вычислительной системе с общей оперативной памятью имеет вид:

	+image('proc2.png', 'Схема взаимодействия процессоров в ВС')
	p Создание высокопроизводительных компьютеров на основе одного или нескольких процессоров не представляется возможным по различным техническим и физическим факторам. Поэтому, суперкомпьютеры создаются в виде высокопараллельных многопроцессорных вычислительных систем.
	h2 Разновидности высокопараллельных МПВС:
	p
		| 1. Магистральные (конвейерные) МПВС, у которых процессор одновременно выполняет разные операции над последовательным потоком обрабатываемых данных. По принятой классификации такие МПВС относят к системам с многократным потоком команд и однократным потоком данных (МКОД или MISD – Multiple Instruction Single Data).
	+image('proc3.png', 'MISD Архитектура')
	p
		| 2. Векторные МПВС, у которых все процессоры одновременно выполняют одну команду над различными данными – однократный поток команд с многократным потоком данных (ОКМД или SIMD – Single Instruction Multiple Data).
	+image('proc4.png', 'SIMD Архитектура')
	p
		| 3. Матричные МПВС, у которых микропроцессор выполняет различные команды с многократным потоком данных – многократный поток команд с многократным потоком данных (МКМД или MIMD - Multiple Instruction Multiple Data).
	+image('proc5.png', 'MIMD Архитектура')
	p
		| В суперкомпьютерах используются все три варианта архитектуры МПВС, но наибольшую эффективность показала структура SIMD и она чаще используется в супер ЭВМ.
