include ../jade/blocks/base-lib

- var name = 'Развитие процессоров и их роль в жизни ПК сегодня';

- var authors = 'Плесовских Г.А.';

+lib(name, authors)
	h1= name
	
	p.no-indent #[strong Автор:] #{authors}

	p.no-indent #[strong Источник:] Плесовских Г.А. РАЗВИТИЕ ПРОЦЕССОРОВ И ИХ РОЛЬ В ЖИЗНИ ПК СЕГОДНЯ // Молодежный научный форум: Технические и математические науки: электр. сб. ст. по мат. XXXV междунар. студ. науч.-практ. конф. № 6(35). URL: #[+link('https://nauchforum.ru/archive/MNF_tech/6(35).pdf')] (дата обращения: 26.01.2019)

	h2.no-indent Аннотации
	p В данной статье рассмотрено создание процессоров и их значительные изменения, без которых, скорее всего не было сегодняшней компьютерной техники. Проанализированы характерные особенности, которые способствовали развитию и созданию процессоров. В проведенном исследовании даются определения и формулируются основные характеристики процессоров.
	p.no-indent
		strong Ключевые слова:
		|  процессор, микропроцессор, персональный компьютер, транзистор, тактовая чистота, память.
	p
		| Сегодня в продаже существует большое количество разнообразных компьютерных систем, разных по стоимости и по набору выполняемых ими функций [1].
	p
		| Персональный компьютер стал уже частью повседневности современного человека, представить работу и быт без него сейчас – уже проблематично.
	p
		| Особое значение имеет внедрение персональных компьютеров как составных частей информационных систем. При этом работа по сбору, хранению, обработке и распространению информации стала намного проще, и осуществляются удобными интерфейсами «человек – ЭВМ» [6].
	p
		| «Мозгом» любого компьютера является процессор, который выполняет программный код, находящийся в памяти и руководит работой всех устройств компьютера. Чем выше скорость работы процессора, тем выше быстродействие компьютера. В таблице 1 приведены основные характеристики процессоров в историческом аспекте их появления.
	h2
		em Таблица 1.
	h2 Характеристики процессоров
	.search-container
		table(width='625', cellspacing='0', cellpadding='0', border='1', align='center')
			tbody
				tr
					td(rowspan='2', style='width:110px;height:37px;')
						| Процессор
					td(colspan='5', style='width:515px;height:37px;')
						| Характеристики
				tr
					td(style='width:100px;height:48px;')
						| Тактовая частота
					td(style='width:73px;height:48px;')
						| Кол-во ядер
					td(style='width:113px;height:48px;')
						| Количество транзисторов
					td(style='width:113px;height:48px;')
						| Техпроцесс
					td(style='width:115px;height:48px;')
						| Разъём
				tr
					td(style='width:110px;height:85px;')
						| Intel-4004
					td(style='width:100px;height:85px;')
						| около 125кГц
					td(style='width:73px;height:85px;')
						| -
					td(style='width:113px;height:85px;')
						| 2250
					td(style='width:113px;height:85px;')
						| 10000 (10 мкм)
					td(style='width:115px;height:85px;')
						| микросхема впаивалась в печатную плату
				tr
					td(style='width:110px;height:56px;')
						| Intel-8008
					td(style='width:100px;height:56px;')
						| 200 кГц
					td(style='width:73px;height:56px;')
						| -
					td(style='width:113px;height:56px;')
						| 3500
					td(style='width:113px;height:56px;')
						| 10000 (10 мкм)
					td(style='width:115px;height:56px;')
						| микросхема припаивалась к плате
				tr
					td(style='width:110px;height:45px;')
						| Intel-8086
					td(style='width:100px;height:45px;', nowrap='nowrap')
						| 4–10 МГц
					td(style='width:73px;height:45px;')
						| -
					td(style='width:113px;height:45px;', nowrap='nowrap')
						| 29 000
					td(style='width:113px;height:45px;')
						| 3000 нм (3 мкм)
					td(style='width:115px;height:45px;', nowrap='nowrap')
						| DIP-40
				tr
					td(style='width:110px;height:55px;')
						| Intel 80386
					td(style='width:100px;height:55px;')
						| 16–40 МГц
					td(style='width:73px;height:55px;')
						| -
					td(style='width:113px;height:55px;', nowrap='nowrap')
						| 275 000
					td(style='width:113px;height:55px;')
						| 1500 нм
					td(style='width:115px;height:55px;')
						| Гнездо типа “Socket” или припаивался к плате
				tr
					td(style='width:110px;height:26px;')
						| Intel-Pentium
					td(style='width:100px;height:26px;', nowrap='nowrap')
						| 60–66 МГц
					td(style='width:73px;height:26px;')
						| 1
					td(style='width:113px;height:26px;', nowrap='nowrap')
						| 3,1 млн
					td(style='width:113px;height:26px;', nowrap='nowrap')
						| 800 нм
					td(style='width:115px;height:26px;', nowrap='nowrap')
						| Socket 4
				tr
					td(style='width:110px;height:26px;')
						| Duron
					td(style='width:100px;height:26px;', nowrap='nowrap')
						| 600–950МГц
					td(style='width:73px;height:26px;')
						| 1
					td(style='width:113px;height:26px;', nowrap='nowrap')
						| 25 млн
					td(style='width:113px;height:26px;', nowrap='nowrap')
						| 180 нм
					td(style='width:115px;height:26px;', nowrap='nowrap')
						| Socket A
				tr
					td(style='width:110px;height:26px;')
						| Core i5
					td(style='width:100px;height:26px;', nowrap='nowrap')
						| 1,2–4,02 ГГц
					td(style='width:73px;height:26px;')
						| 2 или 4
					td(style='width:113px;height:26px;', nowrap='nowrap')
						| 177 млн
					td(style='width:113px;height:26px;', nowrap='nowrap')
						| 45–14 нм
					td(style='width:115px;height:26px;', nowrap='nowrap')
						| Socket H (LGA 1156)
				tr
					td(style='width:110px;height:26px;')
						| Core i7
					td(style='width:100px;height:26px;')
						| 1.07–4.2 ГГц
					td(style='width:73px;height:26px;')
						| 2, 4, 6 или 8
					td(style='width:113px;height:26px;', nowrap='nowrap')
						| 774 млн
					td(style='width:113px;height:26px;', nowrap='nowrap')
						| 45–14 нм
					td(style='width:115px;height:26px;', nowrap='nowrap')
						| Socket B
	div(style='clear:both;')
	p
		| Такое стремительное развитие процессоров стало возможно благодаря компании Intel, создавшей в 1971-м году первые микропроцессоры.
	p
		strong Первое поколение
		|  процессоров – это период с 40-х по вторую половину 50-х годов, отличительной характеристикой было использование процессоров на электромеханическом реле, вакуумных лампах и ферритовых сердечниках (устройства памяти). Для своего времени, это был большой скачок вперёд в сторону построения вычислительных систем. Весьма типичным для таких архаичных процессоров являлось обильное тепловыделение, низкая скорость работы и надёжность в целом.
	p
		strong Второе поколение
		|  процессоров – транзисторный принцип построения. Процессоры располагались с помощью специальных стоек на примитивных платах, имеющих сходство с современными материнскими платами. Благодаря этому увеличилось быстродействие и надёжность, при минимальном потреблении энергии.
	p
		strong Третье поколение
		|  приходится на середину 60-х годов, которое отметилось созданием процессорных микросхем. Для этого периода времени было типичным применение низкоинтегрированных микросхем, содержащих самые простые резисторные и транзисторные схемы.
	p
		strong Четвертое поколение
		|  процессоров отмечает этап создания кристальной микросхемы, которая вмещала в себя полный комплект главных процессорных блоков и элементов. В 1971 год отметился в истории развития тем, что, благодаря усилиям инженеров компании Intel, миру был дан первый в своём роде микропроцессор Intel-4004, имеющий 4 разрядности и состоящий из 2,3 тысячи полупроводниковых транзисторов. Его тактовая чистота была 108 килогерц — что является 0,108 мегагерц (МГц) или 0,000108 гигагерц (ГГц). Скорее всего, примерно в это время, поколения развития процессоров завершается, и микропроцесс начинает свое развитие по поколениям.
	p
		| Вскоре, в 1974-м году, безусловный новатор и монополист на рынке микропроцессоров того времени, подняли планку производительной мощности выше, создав 64-х килобайтный Intel-8080, вмещающий в себя 6 тысяч транзисторов [7]. Небезызвестный компьютер «Альтаир 8800» производил свои вычисления на базе именно этого «камня».
	p
		| Спустя четыре года, очередным достижением необходимо отметить Intel 8086, включающий комплект команд х86, ставшие архитектурным базисом подавляющего большинства вычислительных процессоров. Данный продукт прогресса выполнял свои функции на частоте 5 МГц, представлял собой 29 тысяч транзисторов. Адресовать 1024 Kб памяти – было для него естественно, так как шина адреса состояла уже из 20-и разрядов.
	p
		| 275-ю тысячами транзисторов покорил умы всех причастных к вычислительной технике новоявленный Intel 80386, получивший свою жизнь середине 80-х годов. По сравнению со своим предшественником, данная версия процессора имела более совершенную защиту, а широкая 32-х битная адресация давала возможность использовать вплоть до 4 Гб оперативной памяти, плюсом ко всему осуществлялась поддержка применения виртуальной памяти. Производился он по технологии 1,5 мкм, а работал на частоте от 16 до 40 мегагерц. Подобные процессоры полностью базировались на модели регистров. В это же время двигалось и набирало обороты совершенствование микропроцессоров: они базировались на стековой модели вычисления.
	p
		| Первая партия 32-разрядных процессоров Pentium вышла в массовое пользование примерно в 1993-м году. Тогда количество используемых транзисторов было равно трем миллионам, они были изготовлены по 0,8 мкм технологии, с частотой 60 и 66 МГц и 64-битную шину данных. Буквально уже через год, вышло следующие поколение этого процессора, с тактовой частотой 75, 90 и 100 МГц, изготовлялись по 0,6 мкм технологии, что уменьшило потребляемую ими энергию [2].
	p
		| Известная многим линейка Celeron, активно использующаяся в ноутбуках самого начала 21-го века, была создана и поступила в 1998 году, а работала на ядре процессора Pentium II: кэша в нем ещё не было, вычислительная мощность оставляла желать лучшего [8]. Однако большим достоинством необходимо отметить хорошую техническую совместимость.
	p
		| В самом начале 2000-х, завоевавший доверие и место Celeron, вынужден потесниться: AMD выдаёт своё новое детище – Duron, который не остаётся незамеченным на рынке и успешно пользуется популярностью, как качественный дешёвый аналог процессора Intel. Поначалу Duron обладали не самой быстрой шиной в 100 МГц и чуть заниженным кэшем – это и являлось причиной популярности у не самого обеспеченного пользователя. Duron производился исключительно с 64 Кб кэш-памяти второго уровня, а частотой располагал в промежутке от 600 МГц до 950 МГц [3].
	p
		| На данный момент Intel взаимодействует с Microsoft и работает над оптимизацией работы Core 6-го поколения в среде Windows 10.
	p
		| Создание Intel Skylake уже сулит тем, что продолжение поступления обновлений для версий ОС 7 и 8.1 – скорее всего, лишь вопрос короткого промежутка времени. В соответствии с изменившимися условиями, обладатели девайсов на базе новых поколений процессоров Intel, AMD и Qualcomm из операционных систем Microsoft, будут обязаны взять на вооружение в работе 10-ю версию Windows.
	p
		| Необходимо отметить, что более привычным можно назвать обновление аппаратного обеспечения компьютера, если его текущее состояние не отвечает требованиям новой версии программного обеспечения. По всей видимости, на этот раз могучий монополист, в сфере операционных систем и его партнеры, приняли решение пропустить долгий и трудоёмкий рабочий процесс по обеспечению совместимости более современного «железа» с ранними версиями Windows. При неприятном исходе – старые операционные системы будут прекращены поддерживаться обновлениями. Или же, что тоже весьма вероятно – будут выполнять свои функции с ошибками.
	p
		| Поскольку Intel и Microsoft неоднократно упоминали, что эти компании работают в плотном сотрудничестве, важно упомянуть, что 6-е поколение процессоров от Intel, называемое Skylake – скорее всего, минует поддержку ранних версий Windows [4].
	p
		| По данным интернет магазина DNS средняя цена за процессор, подходящий к той или иной системной (материнской) плате, представлена на рисунке 1. Самым популярным процессором на сегодняшний день является Intel Core i5, цена которого не является самой максимальной.
	+image('cpucost.png', 'Средняя цена процессоров')
	p
		| Ни для кого не секрет, что некоторые компании, не желая нарушать привычный ритм работы, намеренно или нет, упускают из виду важность своевременного обновления программных и технических средств. Компания Microsoft открыто заявляет о дальнейших намерениях обновления версий ОС 7 и 8.1 для таблицы связанных «скайлейк-систем» лишь до середины 2017-го года. Таким образом, у всех корпоративных клиентов будет время для приобретения и начала использования 10-й версии ПО.
	p
		| В этот отрезок времени «наиболее важные обновления безопасности Windows 7 и Windows 8.1 будут адресоваться этим конфигурациям и будут выходить, если не станут представлять риска для надежности и совместимости платформ Windows 7 и 8.1 на других устройствах». Корпоративные клиенты и рядовые пользователи, конечно же, будут иметь возможность приобретать ПК с более ранней аппаратной составляющей и не использовать как Intel Skylake, так и другие новые «камни». К примеру, процессоры с микроархитектурой Broadwell – весьма стабильно работают со старыми версиями Windows, а найти их, на данный момент, не является большой проблемой.
	p
		| Компьютеры с повышенными способностями, т.е. суперкомпьютеры – это многомашинные и/или многопроцессорные комплексы, обслуживающие общую совокупность внешних устройств, общую память и иногда распределенные среди разных городов и даже стран мира.
	p
		| Суперкомпьютеры используют в ситуациях, когда необходимо обработать большой объем данных в короткий промежуток времени и смоделировать операции, выполняемые одновременно [5].
	p
		| Время не стоит на месте, а команда компьютерных ученых не останавливается на достигнутых результатах. Еще 20 лет назад обычный обыватель не знал что такое процессор, а теперь может выбрать подходящий новенький процессор в любом цифровом супермаркете. Также стоит отметить, что в выборе процессора имеет значение не только бренд и популярность, но технические характеристики системной платы. И не нужно забывать, что всё комплектующие ПК связанны между собой материнской (системной) платой.
	p  
	h2 Список литературы:
	ol.links
		li
			| Поначугин А.В. Создание и перспективы открытых аппаратно-программных систем сетевого управления технологическими процессами / Информационные технологии в организации единого образовательного пространства (сборник статей по материалам Международной научно-практической конференции преподавателей, студентов, аспирантов, соискателей и специалистов). Кафедра Прикладной информатики и информационных технологий в образовании. Н.Новгород: Мининский университет, 2015. – С.75–79.
	
		li
			| Процессоры Intel – [Электронный ресурс] – Режим доступа: #[+link('http://www.paygid.ru/articles/processori-intel/?q=726&n=749')].
	
		li
			| Процессоры AMD – [Электронный ресурс] – Режим доступа: #[+link('http://www.amd.com/ru-ru/products/processor')].
	
		li
			| Процессоры Intel Core i7 6-го поколения (ранее Skylake) – [Электронный ресурс] – Режим доступа: #[+link('http://www.intel.ru/content/www/ru/ru/processors/core/core-i7-processor.html')].
	
		li
			| Поначугин А.В. Использование суперкомпьютеров для решения задач моделирования // Фундаментальные и прикладные исследования в современном мире. – 2015. – № 10-1. С. 22–25.
	
		li
			| Рыбакова А.С., Поначугин А.В. Информационные технологии: проблемы их внедрения, достоинства, недостатки // Актуальные проблемы гуманитарных и естественных наук. – 2014. – № 11-2. – С.24–27.
	
		li
			| Суханова Н.Т. Теоретические основы информатики.  учеб. Пособие для студентов высш. пед. учеб. заведений: М-во образования Рос. Федерации, Мурманский гос. Пед. Университет, Мурманск, 2004, 128 с.
	
		li
			| Суханова Н.Т. Методические особенности преподавания дисциплины «Информационные и коммуникационные технологии в образовании. / Научные труды SWorld, 2009, №1, С.44–45.