include ../jade/blocks/base-lib

- var name = 'Организация памяти в ЭВМ';

- var authors = 'Тлупов З.А.';

+lib(name, authors)
	h1= name
	
	p.no-indent #[strong Автор:] #{authors}

	p
		| Память в ЭВМ  предназначена для запоминания  двоичных  чисел. Память состоит из элементов способных своим свойством запомнить 1 или 0,  что соответствует минимальной единице памяти - 1 биту. Восемь бит образуют  информационную  единицу 1 байт. Два байта  называются машинным словом.  
	p Основными параметрами  памяти является плотность, быстродействие, надежность, энергозависимость и  себестоимость. Требования высокого  быстродействия и надежности с другой стороны и   доступность по стоимости с другой, заставляет применять особую  иерархическую структуру всей памяти компьютера.
	+image('memory.png', 'Организация памяти в ЭВМ')
	p
		| Основная, или  оперативная память (ОЗУ – оперативное запоминающее  устройство) – используется для оперативного обмена информацией (данными и  командами) между процессором, внешней памятью и периферийными устройствами. ОЗУ  является памятью с произвольным доступом, т.е. обращаться к ячейкам памяти  можно в любом порядке. Оперативная память относится к динамической памяти.  Данные могут сохраняться только в постоянном динамическом обновлении  содержимого. По этой же причине она является энергозависимой. 
	p Кэш-память  – сверхоперативная память (СОЗУ), является буфером между ОЗУ и процессором  (одним или несколькими) и другими абонентами системной шины. Быстродействие  этой памяти близко к скорости ядра процессора. Кэш-память не является  самостоятельным хранилищем информации, и она не адресуема клиентами подсистемы  памяти. Кэш хранит копии блоков данных, областей памяти которые чаще учувствуют  в обмене информацией. От эффективности алгоритма кэширования зависит  оперативность памяти. Объем кэш-памяти ПК в тысячи раз меньше объема ОЗУ, но  быстродействие в десятки раз выше. В современных персональных компьютерах  кэш-память располагается внутри самого процессора.
	p Постоянная  память  используется для энергонезависимого хранения системной информации – BIOS (программа начальной загрузки),  таблиц знакогенераторов и т.д. Обычно при работе компьютера эта память эта  память только считывается, но имеется и режим программирования, при котором  можно изменить содержимое. В персональных компьютерах в качестве постоянной  памяти используют флэш-память, и ее объем составляет около 6 Мбайт.  Быстродействие постоянной памяти гораздо меньше оперативной, поэтому для нее  создается и используется ее теневая копия в оперативной памяти.
	p Полупостоянная  память  в основном  используется для хранения  информации о конфигурации (настроек) компьютера. Память конфигурации выполнена  вместе с системными часами на основе CMOS элементов. Объем данной память составляет несколько  десятков байт, а сохранность данных при отсутствии питания обеспечивается  небольшой внутренней батарейкой.
	p Устройства  хранения данных (дополнительная память)  относятся к внешней памяти компьютера – они позволяют хранить информацию для  последующего использования не зависимо от того включен или выключен компьютер.  В этих устройствах  могут быть  реализованы различные физические принципы хранения информации – магнитный,  оптический, электронный – в любых их сочетаниях. Обмен данными с основной  памятью принципиально отличается от сеансов обмена с дополнительной памятью.  Процедура работы с устройствами внешней памяти больше привязано к типу  (интерфейсу) самих устройств. 
