include ../jade/blocks/base-lib

- var name = 'Исследование зависимости применения процессорных архитектур';
- var authors = 'Святоха А.А.';

+lib(name, authors)
	h1= name
	
	p.no-indent #[strong Автор:] #{authors}

	h2.no-indent Аннотации
	p #[strong= authors] В данной работе рассмотрены зависимости применения процессоров на различных архитектурах, в различных классах вычислительных устройств.

	p.no-indent #[strong Цель:] рассмотреть и выявить закономерности распространения процессоров различных архитектур, в различных классах вычислительных устройств.

	p Для начала рассмотрим базовые архитектуры процессоров:

	p #[strong CISC] (англ. Complex Instruction Set Computing) — концепция проектирования процессоров, которая характеризуется следующим набором свойств:
	ul
		li большим числом различных по формату и длине команд;
		li введением большого числа различных режимов адресации;
		li обладает сложной кодировкой инструкции.
	p Процессору с архитектурой CISC приходится иметь дело с более сложными инструкциями неодинаковой длины. Выполнение одиночной CISC-инструкции может происходить быстрее, однако обрабатывать несколько таких инструкций параллельно сложнее.

	p #[strong RISC] (Reduced Instruction Set Computing). Процессор с сокращенным набором команд. Система команд имеет упрощенный вид. Все команды одинакового формата с простой кодировкой. Обращение к памяти происходит посредством команд загрузки и записи, остальные команды типа регистр-регистр. Команда, поступающая в CPU, уже разделена по полям и не требует дополнительной дешифрации.
	p Часть кристалла освобождается для включения дополнительных компонентов. Степень интеграции ниже, чем в предыдущем архитектурном варианте, поэтому при высоком быстродействии допускается более низкая тактовая частота. Команда меньше загромождает ОЗУ, CPU дешевле. Программной совместимостью указанные архитектуры не обладают. Отладка программ на RISC более сложна. Данная технология может быть реализована программно-совместимым с технологией CISC (например, суперскалярная технология).

	p #[strong VLIW] (англ. very long instruction word — «очень длинная машинная команда») — архитектура процессоров с несколькими вычислительными устройствами. Характеризуется тем, что одна инструкция процессора содержит несколько операций, которые должны выполняться параллельно[1][2]. Фактически это «видимое программисту» микропрограммное управление, когда машинный код представляет собой лишь немного свёрнутый микрокод для непосредственного управления аппаратурой.
	p В суперскалярных процессорах также есть несколько вычислительных модулей, но задача распределения работы между ними решается аппаратно. Это сильно усложняет устройство процессора, и может быть чревато ошибками. В процессорах VLIW задача распределения решается во время компиляции и в инструкциях явно указано, какое вычислительное устройство какую команду должно выполнять.

	h2 Статистика по мобильным телефонам
	p На рынке мобильных телефонов в основном преобладают процессоры архитектуры RISC, из-за их малого энергопотребления.

	h2 Статистика по персональным компьютерам
	p В персональных компьютерах повсеместно используют процессоры на архитектуре x86, которые относятся к классу CISC процессоров, но при этом имеют гибридную реализацию.

	h2 Статистика по суперкомпьютерам в топ500
	P Примерно в период с 1994 по 2003 года практически все суперкомпьютеры базировались на процессорах с архитектурой RISC, так как на тот момент из-за более упрощенной аппаратной реализации и более быстрого конвейера команд RISC процессоры значительно превосходили процессоры на архитектуре CISC. Также в этот период проводились опыты по внедрению процессоров на архитектуре VLIW.
	p Однако уже с года 2004 наблюдается переломный момент, так как фирма Intel начинает продвигать свои процессоры линейки Xeon, которые основаны на архитектуре x86. Из-за своей гибридной реализации они значительно превосходят по производительности процессоры на других архитектурах.

	h2 Проект Itanium
	p Примерно с 2001 года компания Intel начинает эксперименты со внедрением в суперкомпьютеры процессоров на архитектуре EPIC, она же VLIW. Это должны были быть самые производительные процессоры на тот момент, но как показал практика они имеют ряд существенных недостатков:
	ul
		li Непредсказуемые ветвления, усложняющие планирование и упаковку параллельных операций в командные слова VLIW.
		li Непредсказуемые промахи кэша замедляли выполнение и приводили к переменным задержкам выполнения.
		li Наборы команд VLIW раздували объём кода.
		li Оказалось, слишком сложно создать хорошие оптимизирующие компиляторы для машин VLIW.
	p Пожалуй, самый известный в мире специалист по компьютерным алгоритмам Дональд Кнут заметил: «Подход Itanium… казался таким великолепным — пока не выяснилось, что желанные компиляторы по сути невозможно написать».
	p По этим причинам проект был закрыт в 2009 году, но стоит отметить, что Intel производит процессоры на данной архитектуре и по настоящее время.

	h2 Выводы
	p На данный момент слоилась такая ситуация, что в вычислительной технике, которая не критична к потреблению энергии в преобладающим большинством установлены процессоры на архитектуре x86. А в тех устройствах, где важно маленькое энергопотребления встраивают процессоры на архитектуре RISC.

	h2 Список использованной литературы
	ol.links
		li CISC - Свободная энциклопедия: 
			+link('https://ru.wikipedia.org/wiki/CISC')

		li RISC - Свободная энциклопедия: 
			+link('https://ru.wikipedia.org/wiki/RISC')

		li VLIW - Свободная энциклопедия: 
			+link('https://ru.wikipedia.org/wiki/VLIW')

		li Itanium - Свободная энциклопедия: 
			+link('https://ru.wikipedia.org/wiki/Itanium')

		li TOP 500 - Оффицальный сайт: 
			+link('https://www.top500.org')