include ../jade/blocks/base-lib

- var name = 'Процессоры: назначение, структура и разновидность';

- var authors = 'Тлупов З.А.';

+lib(name, authors)
	h1= name
	
	p.no-indent #[strong Автор:] #{authors}

	p
		| Микропроцессор (МП),  или central  processing  unit  (CPU)  – функционально- законченное программно-управляемое устройство обработки  информации, выполненное в виде одной или нескольких больших (БИС) или  сверхбольших (СБИС) интегральных схем.
	h2 Функции  микропроцессора:
	ul
		li вычисление адресов  операндов или команд;
		li выборка и дешифрация  команд из оперативной памяти (ОП);
		li выборка данных из ОП,  регистров микропроцессорной памяти (МПП) и регистров адаптеров внешних  устройств (ВУ); 
		li прием и обработка  запросов и команд от адаптеров на обслуживание ВУ;
		li выработка управляющих  сигналов для всех прочих узлов и блоков ПК;
		li переход к следующей  команде.
	h2 Основные параметры  микропроцессоров:
	ul
		li разрядность  (определяется разрядностью внутренних регистров, над которыми одновременно  могут выполняться операции);
		li адресное пространство  (максимальное количество ячеек основной памяти которое может быть  непосредственно адресовано микропроцессором);
		li рабочая тактовая  частота (частота исполнения тактов команд микропроцессором – определяет  внутреннее быстродействие МП);
		li кэш-память (память  внутри ПМ работающая с частотой ядра МП);
		li состав инструкций  (перечень, вид и тип команд автоматически исполняемых МП);
		li конструктив (размеры  и разъемные соединения);
		li рабочие напряжения  (напряжение питания ядра и периферии ПМ).
	p Первый микропроцессор  был выпущен в 1971 году фирмой Intel(США)  – МП I4004.  В настоящее время разными фирмами выпускаются  разные процессоры и их разбивают на 4 группы:
	ol
		li
			| МП типа CISC (Complex Instruction Set Command) – с полным набором  системы команд. Большинство персональных компьютеров использует CISC микропроцессоры.  Большое разнообразие команд упрощает программирование, но с другой стороны  усложняет структуру самого микропроцессора и ограничивает быстродействие.
		li
			| МП типа RISC (Reduced Instruction Set Command) – с усеченным набором  системы команд. Процессор содержит только набор простых наиболее часто  исполняемых команд. Сложные команды реализуются группами простых инструкций.  Такая организация помогает упростить структуру ПМ и тем самым повысить  быстродействие. Используются в машинах серверах.
		li
			| МП типа VLIW (Very Length Instruction Word) – со сверхбольшим командным словом.  Большое машинное слово позволяет выполнять инструкции с одновременно, что  увеличивает производительность. Сложность и высокая стоимость позволяет  использовать такие архитектуры в больших и супер ЭВМ.
		li
			| МП типа MISC (Minimum Instruction Set Command) – с минимальным  набором системы команд. Идея заключается в создании сверхбыстродействующих  простых МП параллельная организация работы которых позволяет получить ЭВМ с  высоким быстродействием. Применяется при создании супер ЭВМ.
	+image('proc6.png', 'Упрощенная структура  микропроцессора')
	p Устройство управления  (УУ) – является функционально наиболее сложным устройством микропроцессора. Оно  вырабатывает управляющие сигналы во все блоки МП и компьютера с целом для  исполнения заданной команды.
	p Арифметико-логическое  устройство (АЛУ) – предназначено для выполнения арифметических и логических  операций преобразования информации.
	p Микропроцессорная  память (МПП) – сверхбыстродействующая память, выполненная на регистрах и  используемая микропроцессорам при непосредственном выполнении команд. Количество  регистров МПП составляет несколько десятков.
	p Узел формирования  адреса -  блок, отвечающий за  формирования адресов для выбора следующих команд или данных.
	p Интерфейсная система –  выводы и схемы сопряжения, предназначенные для эффективной передачи адресов,  данных, команд и управляющих сигналов.
	p Внутренняя шина МП –  обеспечивает связь составляющих частей микропроцессора.
	p При включении  микропроцессора интерфейсная система вводит команду по системной шине в устройство  управления. В устройстве управления код команды дешифрируется и создается  последовательность микрокоманд. Устройство управления согласно микрокомандам  переключает (управляет) блоками процессора и компьютера заставляя им выполнять  необходимые действия для исполнения заданной команды. Одновременно с этим  формируется адрес для загрузки  следующей  команды или данных, если это необходимо. 
	p Такая организация  выполнения команд по одной цепочке имеется в скалярных микропроцессорах.  Начиная с процессоров Pentium,  и им совместимые относятся к суперскалярным МП и способны выполнять несколько  команд параллельно.
	p В действительности  структура процессора довольна сложна. В помощь процессору может использоваться  кэш-память, математический сопроцессор, графический сопроцессор, сопроцессоры  ввода-вывода, разгружающие центральный процессор от несложных операций  взаимодействия с устройствами. В современных процессорах может находиться  несколько ядер работающих параллельно на уровне оперативной памяти.
	p Процессоры персональных  компьютеров за время развития прошли несколько этапов эволюционирования от 16  разрядных до 32 и 64 битных структур. Для обеспечения их совместимости МП  обеспечивают различные режимы работы: реальный, виртуальный, защищенный, 64  битный режим, режим совместимости. Так же в самых последних процессорах имеются  инструкции всех предыдущих поколений.
	p Для уменьшения  выделяемого тепла и потребляемой мощности, в последних моделях микропроцессоров  введены блоки управления производительностью в зависимости от загруженности.
