-
	var lg = langDB['ru'];
	lg.abs_comment = 'При написании данного реферата магистерская работа еще не завершена. Окончательное завершение: июнь 2019 года. Полный текст работы и материалы по теме могут быть получены у автора или его руководителя после указанной даты.';
	lg.content = 'Содержание';
	lg.introduction = 'Введение';
	lg.abs_theme_urgency = '1. Актуальность темы';
	lg.abs_goals = '2. Цель и задачи исследования, планируемые результаты';
	lg.abs_review = '3. Обзор исследований и разработок';
	lg.abs_review_int = '3.1 Обзор международных источников';
	lg.abs_review_nat = '3.2 Обзор национальных источников';
	lg.abs_review_loc = '3.3 Обзор локальных источников';
	lg.conclusion = 'Выводы';
	lg.references = 'Список источников';


	lg.abs_p1_1 = 'С каждым годом возрастает роль средств вычислительной техники, при этом все компоненты вычислительных систем располагаются на интегральных микросхемах, не позволяя получить доступ к отдельным узлам или элементам, осложняя тем самым процесс изучения функционирования компьютерных систем и их компонентов.';
	lg.abs_p1_2 = 'Глубокое понимание принципов построения и функционирования сложных систем достигается лишь при практической работе с такими системами или их моделями. Даже самое подробное описание работы с базовым цифровым устройством и детальные иллюстрации процесса выполнения команд не могут заменить действительной работы с этим устройством.'
	lg.abs_p1_3 = 'Данная проблема особенно актуальна в технических вузах и для ее решения разрабатываются специальные модели: физические или функциональные<sup><a href="#abs_link1">[1]</a></sup>, наглядно демонстрирующие представление данных, выполнение операций, взаимодействие с периферией по средствам операций ввода-вывода и системы прерываний.';
	lg.abs_p1_4 = 'Для поддержки дисциплин аппаратного направления требуются модели, которые позволяют рассмотреть конвейерную обработку команд, спекулятивное выполнение, кеширование данных, а также разнообразные архитектуры процессорных элементов, такие как: суперскалярная архитектура, VLIW, векторные процессоры. Также дополнительно следует рассмотреть процесс компиляции и оптимизации машинного кода, под разнообразные архитектуры.';

	lg.abs_p2_1 = 'Современный мир уже сложно представить без вычислительной техники, а её основными компонентом все ещё являются процессорные элементы. Для технических вузов особенно важно подготавливать студентов с пониманием принципов работы процессоров, принципов их функционирования и разнообразия архитектур. Как нельзя лучше для этого подходят демонстрационные модели, которые наглядно демонстрируют работу того или иного компонента устройства в определённой ситуации, т.е. учебный материал может быть представлен более эффективно.';

	lg.abs_p3_1 = 'Многоуровневая демонстрационная модель гипотетического компьютера позволит наглядно демонстрировать работу процессорных компонентов, их взаимодействие с памятью, и другими периферийными устройствами.';
	lg.abs_p3_2 = 'Данная магистерская работа посвящена разработке функциональной демонстрационной модели, а также разработке компилятора для данной модели и исследованию способов оптимизации генерации машинного кода.';
	lg.abs_p3_3 = 'В результате работы планируется рассмотреть различные процессорные архитектуры, общие процессорные технологии, такие как конвейерная обработка команда, спекулятивное выполнение, предсказание переходов, кеширование данных. Разработать функциональную демонстрационную модель, и оптимизирующий компилятор для неё.';

	lg.abs_p4_1 = 'Несмотря на то, что на сегодняшний день практически каждое электронное устройство управляется микропроцессорами, достаточно подробных демонстрационных моделей существует не так уж и много. На данный момент существует множество демонстрационных систем, которые позволяют освоить базовые принципы работы процессоров и другой периферии, но они не рассматривают такие аспекты работы процессора как конвейерная обработка команд, предсказание ветвлений, спекулятивное выполнение, кеширование данных. То есть такие решения подходят лишь для начальных курсов вузов с технической направленностью.';
