-
	var lg = langDB['ua'];
	lg.abs_comment = 'При написанні даного реферату магістерська робота ще не завершена. Остаточне завершення: червень 2019 року. Повний текст роботи та матеріали по темі можуть бути отримані у автора або його керівника після зазначеної дати.';
	lg.content = 'Зміст';
	lg.introduction = 'Вступ';
	lg.theme_urgency = '1. Актуальність теми';
	lg.goals = '2. Мета і задачі дослідження та заплановані результати';
	lg.conclusion = 'Висновки';
	lg.references = 'Перелік посилань';