-
	var lg = langDB['en'];
	lg.abs_comment = 'When writing this essay master\'s work is not yet completed. Final Completion: June 2019. Full text of the work and materials on the topic can be obtained from the author or from his scientific adviser after the specified date.';
	lg.content = 'Content';
	lg.introduction = 'Introduction';
	lg.theme_urgency = '1. Theme urgency';
	lg.goals = '2. Goal and tasks of the research';
	lg.conclusion = 'Conclusion';
	lg.references = 'References';