-
	var lg = langDB['ru'];
	lg.abs_comment = 'При написании данного реферата магистерская работа еще не завершена. Окончательное завершение: июнь 2019 года. Полный текст работы и материалы по теме могут быть получены у автора или его руководителя после указанной даты.';
	lg.content = 'Содержание';
	lg.introduction = 'Введение';
	lg.theme_urgency = '1. Актуальность темы';
	lg.goals = '2. Цель и задачи исследования, планируемые результаты';
	lg.conclusion = 'Выводы';
	lg.references = 'Список источников';


	lg.abs_p1_1 = 'С каждым годом возрастает роль средств вычислительной техники, при этом все компоненты вычислительных систем располагаются на интегральных микросхемах, не позволяя получить доступ к отдельным узлам или элементам, осложняя тем самым процесс изучения функционирования компьютерных систем и их компонентов.';
	lg.abs_p1_2 = 'Глубокое понимание принципов построения и функционирования сложных систем достигается лишь при практической работе с такими системами или их моделями. Даже самое подробное описание работы с базовым цифровым устройством и детальные иллюстрации процесса выполнения команд не могут заменить действительной работы с этим устройством.'
	lg.abs_p1_3 = 'Данная проблема особенно актуальна в технических вузах и для ее решения разрабатываются специальные модели: физические или функциональные<sup><a href="#abs-link1">[1]</a></sup>, наглядно демонстрирующие представление данных, выполнение операций, взаимодействие с периферией по средствам операций ввода-вывода и системы прерываний.';