-
	langDB['ru'] = {
		ru: 'РУС',
		ua: 'УКР',
		en: 'АНГЛ',
		loading: 'Загрузка...',
		image: 'Рисунок',
		donntu: 'ДонНТУ',
		magister_portal: 'Портал магистров',
		author_full_name: 'Святоха Артём Александрович',
		thesis: 'Разработка многоуровневой модели гипотетического компьютера для поддержки дисциплин аппаратурной направленности',
		my_photo: 'Фото магистра',
		faculty: 'Факультет: <q>Компьютерных наук и технологий</q>',
		pulpit: 'Кафедра: <q>Компьютерная инженерия</q>',
		specialty: 'Специальность: <q>Компьютерные системы и сети</q>',
		scientific_director: 'Научный руководитель: д.т.н., проф. Мальчева Раиса Викторовна',

		summary: 'Резюме',
		biography: 'Биография',
		abstract: 'Реферат',
		library: 'Библиотека',
		links: 'Ссылки',
		searching_report: 'Отчет о поиске',
		individual: 'Индивидуальный раздел',

		short_summary: 'Краткое резюме магистра',
		FIO: 'ФИО',
		date_birthday: 'Дата рождения',
		date_birthday_my: '31.03.1995 г.',
		location_birthday: 'Место рождения',
		location_birthday_my: 'г. Красный Луч',
		school: 'Школа',
		school_my: '2002-2011 гг – Общеобразовательная школа I–III ступеней №7<hr>2011-2013 гг – Школа №4',
		university: 'ВУЗ',
		university_my: '2013-2017 гг – Донецкий национальный технический университет, факультет Компьютерных наук и технологий, специальность <q>Компьютерные системы и сети</q>, бакалавриат<hr>2017-2019 гг – Донецкий национальный технический университет, факультет Компьютерных наук и технологий, специальность <q>Компьютерные системы и сети</q>, магистратура',
		average_rating: 'Средний балл',
		average_rating_my: '80(B)',
		language_skills: 'Владение языками',
		language_skills_my: 'Русский – в совершенстве;<hr>Украинский – в совершенстве;<hr>Английский – средний уровень.',
		hobbies: 'Увлечения',
		hobbies_my: 'Разработка ПО, рисование, монтаж видео',
		personal_qualities: 'Личные качества',
		personal_qualities_my: 'Пунктуальность, обучаемость, доброжелательность.',
		professional_skills: 'Профессиональные навыки',
		professional_skills_my: '<ol><li>Операционные системы:<ul>' +
									'<li>Windows;</li>' +
									'<li>Linux (Ubuntu, Arch);</li>' +
									'<li>Mac OS;</li>' +
									'<li>Andoid.</li></ul>' +
								'</li><li>Языки программирования:<ul>' +
									'<li>Java;</li>' +
									'<li>C&sol;C++, C#;</li>' +
									'<li>JavaScript;</li>' +
									'<li>Lua;</li>' +
									'<li>PHP;</li>' +
									'<li>SQL;</li>' +
									'<li>Assembler;</li>' +
									'<li>Haskell;</li>' +
									'<li>Lisp;</li>' +
									'<li>Pascal.</li></ul>' +
								'</li><li>Веб разработка:<ul>' +
									'<li>HTML и препроцессоры Pug&sol;Jade;</li>' +
									'<li>CSS и препроцессоры LESS&sol;SASS&sol;SCSS&sol;Stylus;</li>' +
									'<li>NodeJS и NPM.</li></ul>' +
								'</li><li>Среды разработки ПО:<ul>' +
									'<li>MS Visual Studio;</li>' +
									'<li>NetBeans;</li>' +
									'<li>Intellij Idea;</li>' +
									'<li>Android Studio;</li>' +
									'<li>MS SQL 2008 Management Studio;</li>' +
									'<li>Sublime Text, Brackets, Vim&sol;NeoVim;</li>' +
									'<li>GIT.</li></ul>' +
								'</li><li>Специализированное ПО:<ul>' +
									'<li>Adobe Photoshop;</li>' +
									'<li>Sony Vegas Pro;</li>' +
									'<li>Blender.</li></ul>' +
								'</li></ol>',
		future_plans: 'Планы на будущее',
		future_plans_my: 'Успешная защита магистерской работы, разработка собственных проектов в сфере ПО',
		contacts: 'Контакная информация',
		contacts_my: 'e-mail: artemsvyatoha@gmail.com<hr>телеграм: @artem8086<hr>скайп: artem_8086'
	};