-
	langDB['ru'] = {
		ru: 'РУС',
		ua: 'УКР',
		en: 'АНГЛ',
		loading: 'Загрузка...',
		donntu: 'ДонНТУ',
		magister_portal: 'Портал магистров',
		author_full_name: 'Святоха Артём Алесандрович',
		thesis: 'тема диплома',
		my_photo: 'Фото магистра',
		faculty: 'Факультет: <q>Компьютерных наук и технологий</q>',
		pulpit: 'Кафедра: <q>Компьютерная инженерия</q>',
		specialty: 'Специальность: <q>Компьютерные системы и сети</q>',
		scientific_director: 'Научный руководитель: д.т.н., проф. Мальчева Раиса Викторовна',

		summary: 'Резюме',
		biography: 'Биография',
		abstract: 'Реферат',
		library: 'Библиотека',
		links: 'Ссылки',
		searching_report: 'Отчет о поиске',
		individual: 'Индивидуальный раздел',

		short_summary: 'Краткое резюме магистра',
		FIO: 'ФИО',
		date_birthday: 'Дата рождения',
		date_birthday_my: '31.03.1995г',
		location_birthday: 'Место рождения',
		location_birthday_my: 'г. Красный Луч',
	};