-
	langDB['en'] = {
		ru: 'RUS',
		ua: 'UKR',
		en: 'ENG',
		loading: 'Loading...',
		donntu: 'DonNTU',
		magister_portal: 'Masters portal',
		author_full_name: 'Artem Svyatoha',
		thesis: 'Development of a multi-level model of a hypothetical computer to support hardware direction disciplines',
		my_photo: 'Master photo',
		faculty: 'Faculty: <q>Computer Science and Technology</q>',
		pulpit: 'Department: <q>Computer engineering</q>',
		specialty: 'Specializing: <q>Computing Machines, Complexes, Systems and Networks</q>',
		scientific_director: 'Scientific adviser: Malcheva Raisa',

		summary: 'Summary',
		abstract: 'Abstract',

		short_summary: 'Curriculum vitae',
		FIO: 'Name',
		date_birthday: 'Date of birth',
		date_birthday_my: '03.31.1995 year',
		location_birthday: 'Place of birth',
		location_birthday_my: 'Krasnuj Luch, Ukraine',
		school: 'Schools',
		school_my: '2002-2011 years – Secondary school of I–III stages №7<hr>2011-2013 years – School №4',
		university: 'University',
		university_my: '2013-2017 years – Donetsk national technical University, speciality <q>Informatics and Computer Engineering</q>, specializing <q>Computing Machines, Complexes, Systems and Networks</q>, baccalaureate<hr>2017-2019 years – Donetsk national technical University, speciality <q>Informatics and Computer Engineering</q>, specializing <q>Computing Machines, Complexes, Systems and Networks</q>, magistracy',
		average_rating: 'Average score',
		average_rating_my: '80(B)',
		language_skills: 'Languages',
		language_skills_my: 'Russian – perfectly;<hr>Ukrainian – perfectly;<hr>English – average.',
		hobbies: 'Hobbies',
		hobbies_my: 'Software development, drawing, video editing',
		personal_qualities: 'Personal qualities',
		personal_qualities_my: 'Punctuality, learnability, goodwill.',
		professional_skills: 'Professional skills',
		professional_skills_my: '<ol><li>Operation systems:<ul>' +
									'<li>Windows;</li>' +
									'<li>Linux (Ubuntu, Arch);</li>' +
									'<li>Mac OS;</li>' +
									'<li>Andoid.</li></ul>' +
								'</li><li>Programming languages:<ul>' +
									'<li>Java;</li>' +
									'<li>C&sol;C++, C#;</li>' +
									'<li>JavaScript;</li>' +
									'<li>Lua;</li>' +
									'<li>PHP;</li>' +
									'<li>SQL;</li>' +
									'<li>Assembler;</li>' +
									'<li>Haskell;</li>' +
									'<li>Lisp;</li>' +
									'<li>Pascal.</li></ul>' +
								'</li><li>Web development:<ul>' +
									'<li>HTML and preprocessors Pug&sol;Jade;</li>' +
									'<li>CSS and preprocessors LESS&sol;SASS&sol;SCSS&sol;Stylus;</li>' +
									'<li>NodeJS and NPM.</li></ul>' +
								'</li><li>Software Development Environments:<ul>' +
									'<li>MS Visual Studio;</li>' +
									'<li>NetBeans;</li>' +
									'<li>Intellij Idea;</li>' +
									'<li>Android Studio;</li>' +
									'<li>MS SQL 2008 Management Studio;</li>' +
									'<li>Sublime Text, Brackets, Vim&sol;NeoVim;</li>' +
									'<li>GIT.</li></ul>' +
								'</li><li>Specialized software:<ul>' +
									'<li>Adobe Photoshop;</li>' +
									'<li>Sony Vegas Pro;</li>' +
									'<li>Blender.</li></ul>' +
								'</li></ol>',
		future_plans: 'Future plans',
		future_plans_my: 'Successful defense of the master\'s work, development of own software projects',
		contacts: 'Contact information',
		contacts_my: 'e-mail: artemsvyatoha@gmail.com<hr>telegram: @artem8086<hr>skype: artem_8086'
	};