-
	langDB['ua'] = {
		ru: 'РОС',
		ua: 'УКР',
		en: 'АНГЛ',
		loading: 'Завантаження...',
		image: 'Рисунок',
		donntu: 'ДонНТУ',
		magister_portal: 'Портал магістрів',
		author_full_name: 'Святоха Артем Олександрович',
		thesis: 'Розробка багаторівневої моделі гіпотетичного комп\'ютера для підтримки дисциплін апаратурною спрямованості',
		my_photo: 'Фото магістра',
		faculty: 'Факультет: <q>комп\'ютерних наук і технологій</q>',
		pulpit: 'Кафедра: <q>Комп’ютерна інженерія</q>',
		specialty: 'Спеціальність: <q>Обчислювальні машини, комплекси, системи та мережі</q>',
		scientific_director: 'Науковий керівник: д.т.н., проф. Мальчева Раїса Вікторівна',

		summary: 'Резюме',
		biography: 'Біографія',
		abstract: 'Реферат',

		short_summary: 'Коротке резюме магістра',
		FIO: 'ПІБ',
		date_birthday: 'Дата народження',
		date_birthday_my: '31.03.1995 р.',
		location_birthday: 'Місце народження',
		location_birthday_my: 'м. Красний Луч',
		school: 'Школа',
		school_my: '2002-2011 гг – Загальноосвітня школа I–III ступенів №7<hr>2011-2013 гг – Школа №4',
		university: 'ВНЗ',
		university_my: '2013-2017 гг. – Донецький національний технічний університет, напрям підготовки <q>Інформатика та обчислювальна техніка</q>, спеціалізація <q>Обчислювальні машини, комплекси, системи та мережі</q>, бакалаврат<hr>2017-2019 гг. – Донецький національний технічний університет, напрям підготовки <q>Інформатика та обчислювальна техніка</q>, спеціалізація <q>Обчислювальні машини, комплекси, системи та мережі</q>, магістратура',
		average_rating: 'Середній бал',
		average_rating_my: '80(B)',
		language_skills: 'Володіння мовами',
		language_skills_my: 'Російська – досконало;<hr>Українська – досконало;<hr>Англійська – середньо.',
		hobbies: 'Захоплення',
		hobbies_my: 'Розробка ПО, малювання, монтаж відео',
		personal_qualities: 'Oсобисті якості',
		personal_qualities_my: 'Пунктуальність, здатність до навчання, доброзичливість.',
		professional_skills: 'Професійні навички ',
		professional_skills_my: '<ol><li>Операційні системи:<ul>' +
									'<li>Windows;</li>' +
									'<li>Linux (Ubuntu, Arch);</li>' +
									'<li>Mac OS X;</li>' +
									'<li>Android.</li></ul>' +
								'</li><li>Мови програмування:<ul>' +
									'<li>Java;</li>' +
									'<li>C&sol;C++, C#;</li>' +
									'<li>JavaScript;</li>' +
									'<li>Lua;</li>' +
									'<li>PHP;</li>' +
									'<li>SQL;</li>' +
									'<li>Assembler;</li>' +
									'<li>Haskell;</li>' +
									'<li>Lisp;</li>' +
									'<li>Pascal.</li></ul>' +
								'</li><li>Веб розробка:<ul>' +
									'<li>HTML та препроцесори Pug&sol;Jade;</li>' +
									'<li>CSS та препроцесори LESS&sol;SASS&sol;SCSS&sol;Stylus;</li>' +
									'<li>NodeJS та NPM.</li></ul>' +
								'</li><li>Середовища розробки ПО:<ul>' +
									'<li>MS Visual Studio;</li>' +
									'<li>NetBeans;</li>' +
									'<li>Intellij Idea;</li>' +
									'<li>Android Studio;</li>' +
									'<li>MS SQL 2008 Management Studio;</li>' +
									'<li>Sublime Text, Brackets, Vim&sol;NeoVim;</li>' +
									'<li>GIT.</li></ul>' +
								'</li><li>Спеціалізоване ПО:<ul>' +
									'<li>Adobe Photoshop;</li>' +
									'<li>Sony Vegas Pro;</li>' +
									'<li>Blender.</li></ul>' +
								'</li></ol>',
		future_plans: 'Плани на майбутнє',
		future_plans_my: 'Успішний захист магістерської роботи, розробка власних проектів в сфері ПО',
		contacts: 'Контактна інформація',
		contacts_my: 'e-mail: artemsvyatoha@gmail.com<hr>телеграм: @artem8086<hr>скайп: artem_8086'
	};