.content
	.container
		margin-bottom 40px
		padding 74px 50px 30px
		position relative
		background-color #fff
		border 2px solid #000
		border-top none
		box-shadow 0 0 8px rgba(1,1,1,0.7)

	.library
		padding 30px 50px