.topmenu
	width 100%
	padding 6px 0	

.head
	padding 30px 50px
	border-bottom none !important
	
	&__photo
		margin-right 30px
		padding 2px
		width 25%
		border 1px solid  #777
		box-shadow 1px 1px 3px rgba(1,1,1,0.5)
	
	&__text
		padding-top 12px
		font-size 22px

		&--bold
			padding-top 16px
			padding-bottom 4px
			font-size 26px
			font-weight 700
		