.icon-link
	display inline-block
	position relative
	padding 0 10px 0 30px
	height 24px

	&:last-of-type
		padding-right 0

	&:before
		display inline-block
		content ''
		position absolute
		left 0
		width 24px
		height 24px
		margin-right 6px
	
	&:hover:after
		text-decoration underline

	&:after
		display inline-block
		content attr(data-text)
		text-decoration none
		line-height 24px
		font-weight 300
		vertical-align middle
		color #000
	
	&--langs:before
		background url('../img/lang-icons.png') no-repeat

	&--ru:before
		background-position 0 0

	&--ua:before
		background-position 0 -24px

	&--en:before
		background-position 0 -48px

	&--donntu
		padding-left 33px
		height 27px
		&:before
			background url('../img/donntu_icon.png') no-repeat
			width 27px
			height 27px

	&--grayscale
		filter grayscale(100%)
	
	&--mportal
		padding-left 36px
		height 25px
		&:before
			background url('../img/icon_masters.png') no-repeat
			width 30px
			height 25px