.main-menu
	border-top 1px solid #007
	border-bottom 1px solid #007
	box-sizing content-box
	background-color #22f
	&.fixed
		position fixed
		top 0
		left 0
		width 100%
		opacity .5
		z-index 10
		transition opacity .25s ease-in-out
		& + .container-wraper .container
			padding-top 74px
		&:hover
			opacity 1
	.container
		display flex

.menu-button
	display inline-flex
	flex-basis 100%
	justify-content center
	align-items center
	height 42px
	position relative
	padding 4px 0
	//padding 8px 20px
	font-size 16px
	color #fff
	text-align center
	background-color #22f
	user-select none
	transition all .2s ease-in-out
	border-right 2px solid #00d
	text-decoration none
	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	
	&:link
	&:visited
		color #fff
		text-decoration none
	
	&:first-of-type
		border-left 2px solid #00d
	
	&:hover
		background-color #44f
	
	&:before
		content ""
		display block
		position absolute
		left 50%
		bottom -2px
		width 0%
		visibility hidden
		border-bottom 4px solid #fff
		transition all 0.25s ease-in-out
	
	&.active::before
		left 0
		width 100%
		visibility visible