@media all and (max-width: 620px)
	.icon-link
		&:after
			display none
	.head
		padding-right 18px
		padding-left 18px
		&__photo
			margin 0 5% 32px
			width 90% !important

	.content
		.container
			padding-right 18px
			padding-left 18px